/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START OF STYLES */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
}

#popup {
    padding: 20px;
}

#header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#header #toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header #toolbar img {
    height: 16px;
}

#logo a {
    text-decoration: none;
}

#logo img {
    height: 26px;
}

.logo .colored-letter {
    color: #48aefa;
}

a {
    color: inherit;
    font-size: 12px;
}

/* Forms */

#selects {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input, select {
    margin: 0;
    border: 1px solid #dddddd;
	border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	font-family: inherit;
	font-size: inherit;
    background-color: #ffffff;
    outline: none;
}

input:focus, select:focus {
    border-color: #48aefa;
}

input {
    display: block;
    width: 200px;
    padding: 10px 15px;
}

input[type="text"], input[type="password"] {
    margin-bottom: 10px;
}

select {
    padding: 8px 15px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    text-decoration: none;
    background-color: #333333;
    color: #ffffff;
    white-space: nowrap;
    cursor: pointer;
}

.button:hover {
    background-color: #2b2b2b;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#login-button {
    margin-bottom: 20px;
}

/* Shorten form */

input#url {
    margin-top: 20px;
    width: 100%;
}

#copied-msg, .error {
    margin-top: 20px;
    font-weight: bold;
}

#copied-msg {
    color: #48aefa;
}

.error {
    color: #e74c3c;
}

/* Helpers */

.d-none {
    display: none !important;
}